.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (width >= 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}

img {
  width: 100%;
}

.title-text {
  padding-top: 50px;
  margin-top: 60px;
}

.title {
  padding-top: 5px;
  padding-right: 5rem;
}

.url {
  padding-top: 5px;
  padding-right: 5rem;
}

.notes {
  resize: vertical;
  width: 100%;
  padding-bottom: 10rem;
}

button {
  margin-top: 2rem;
  border-radius: 20%;
  float: right;
}

input {
  width: 100%;
}
