header {
  background-color: purple;
}

.heading {
  color: white;
}

.newEntry {
  color: black;
}

.savaButton {
  background-color: purple;
  color: white;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}

.entries {
  font-size: 14px;
}

.new {
  margin-top: 2rem;
  background-color: purple;
  color: white;
}
